input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.05px;
	line-height: 18px;
	border: 1px solid #ccc;
	color: #999999;
	padding: 15px;
	width: 100%;
	border-radius: 0;

	&:focus {
		color: #000000;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
