/* Blog styling. */

.page-template-blog-template {
  .blog-section {
    padding: 130px 0 90px;
    text-align: center;
    position: relative;
  }

  #blog-section-1 {
    padding: 190px 145px;
    text-align: left;

    .section-title {
      font-size: 80px;
      color: #ffffff;
      letter-spacing: -0.5px;
      line-height: 90px;
      text-shadow: 0 0 8px rgba(0,0,0,0.5);
      max-width: 680px;
      font-weight: 600;
      display: inline-block;
    }

    .middle-graphic-wrap {
      bottom: -145px;

      svg {
        -ms-transform: rotateX(180deg); /* IE 9 */
        -webkit-transform: rotateX(180deg); /* Safari 3-8 */
        transform: rotateX(180deg);
      }
    }
  }

  #blog-section-2 {
    padding-bottom: 220px;

    .section-image {
      text-align: left;
      margin: 32px;
      position: absolute;
      z-index: 1;
    }
  }

  #blog-section-3 {
    .blog-list {
      max-width: 1025px;
      margin: 0 auto 80px;

      .article-wrap {
        max-width: 325px;
        width: 100%;
        margin: 0 25px 25px 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        text-align: left;

        a {
          color: #000000;
          text-decoration: none;
        }

        &:nth(3n+3) {
          margin-right: 0;
        }

        .article-title {
          font-size: 24px;
          line-height: 30px;
          font-weight: 700;
          padding: 20px;
        }

        .article-content {
          font-size: 14px;
          color: #999999;
          padding: 0 20px 20px;
          font-weight: 500;
        }

        .article-read-more {
          color: #1A96AA;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          padding: 0 20px 20px;
        }
      }
    }
  }
}

.single-post {
  article {
    header {
      padding: 100px 145px;
      text-align: left;
      position: relative;

      .section-title {
        font-size: 80px;
        color: #ffffff;
        letter-spacing: -0.5px;
        line-height: 90px;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        font-weight: 600;
        display: inline-block;
      }

      .middle-graphic-wrap {
        bottom: -90px;
      }
    }

    .entry-content {
      padding: 90px 0;
    }
  }
}